@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Lato");

html {
  height: 100%;
  background: #F2F2F2;
}

.wrapper {
  display: flex;
  min-height: 100%;
}

.content {
  flex: 1;
}

.sidebar {
  position: absolute;
  width: 80px;
  left: 0%;
  right: 89.66%;
  top: 0%;
  bottom: 0%;
}

.sidebar__logo{
  position: absolute;
  right: 10.34%;
  top: 0%;
  bottom: 88.57%;
}

.sidebar__rectangle{
  position: absolute;
  left: 0%;
  right: 10.34%;
  top: 0%;
  bottom: 0%;
  background: #25272E;
}

.sidebar__logo::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background-color: #1D2028;
  border-bottom: 1px solid #31343C;
}

.divider{
  position: absolute;
  left: 0%;
  right: 89.66%;
  top: 11.29%;
  bottom: 88.29%;
}

.header {
  height: 82px;
  border-bottom: 1px solid #EEEEEE;
  padding: 16px 22px;
  color: #626262;
  display: flex;
  justify-content: space-between;
}

.header__title {
  /* Channel name */
  position: absolute;
  height: 47px;
  left: 13.18%;
  right: 62.02%;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;
  color: #626262;
}

.header__parrots-count {
  display: flex;
  position: absolute;
  height: 47px;
  right: 2.84%;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;
  color: #626262;
}

.header__parrots-count::before {
  content: url('images/light-parrot.svg');
  align-self: center;
  margin-right: 10px;
}

header__line{
  position: absolute;
  left: 10.34%;
  right: 0%;
  top: 11.43%;
  bottom: 88.14%;
  border: 1px solid #EEEEEE;
}

form{
  position: absolute;
  left: 10.34%;
  right: 0%;
  top: 85.71%;
  bottom: 0%;
  background: #EFEFEF;
}

.avatar img{
  /*AVATAR*/
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: url(Image.png);
  border: 1px solid #979797;
}

.avatar{
  position: absolute;
  left: 13.44%;
  right: 79.84%;
  top: 89.14%;
  bottom: 3.43%;
}

input{
  position: absolute;
  left: 23.26%;
  right: 10.34%;
  top: 89.14%;
  bottom: 3.43%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}

.messages{
  position: absolute;
  left: 10.34%;
  right: 0%;
  top: 16.14%;
  bottom: 32.14%;
}